:root {
  --bg-1: #fff;
  --bg-2: #eee;
  --bg-3: #ddd;

  --info: #2179c7;
  --info-hover: #165d9b;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Verdana";
}

body {
  background-color: var(--bg-2);
}
